.row {
  display: flex;
  gap: var(--space-md);
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: var(--space-md);
}

.loading {
  padding: var(--space-md);
  text-align: center;
}

.reSendButton {
  flex-direction: column;
}
